{% extends "base.html" %}

{% block container %}
<div class="index">
    <div class="left"></div>
    <div class="right">
        <div class="instagram-post-main">
            <div class="instagram-post-inner">
                {% for post in post %}
                <div class="instagram-post" id="post-{{ post.id }}">
                    <div class="post-header-icon">
                        <img src="{{ post.profile.profile_picture.url }}" alt="Profile Picture" class="profile-pic-icon">
                        <div class="profile-info-detail">
                            <span class="username">{{ post.user.username }}</span>
                            <span class="post-time">{{ post.created_on }}</span>
                        </div>
                        <a href="">Follow</a>
                        <div class="more-options"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                    <div class="post-content-home">
                        <div class="post-text">
                            <img src="{{ post.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="likes">
                            <form action="{% url 'like_post' post.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="like-btn" style="background:none;border:none;">
                                    {% if post.like %}
                                        <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </button>
                            </form>
                            <button id="open-btn"><i class="fa-regular fa-comment"></i></button>
                            <button><i class="fa-brands fa-telegram"></i></button>
                        </div>
                        <div class="add-comment">
                            <span>{{ post.likes.count }}</span> likes
                            <a href="">View All Comments</a>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

