*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav hr{
    color: rgb(59, 58, 58);
}
.navbar-logo{
    width: 35;
    color: black;
    font-size: 25px;
    font-family: cursive;
    font-weight: 400;
}
.navbar-search{
    width: 30%;
    background-color:#dcdada;
    display: flex;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
}
.navbar-search i{
    width: 10%;
    font-size: 25px;
    padding: 5px;
    color:#8e8e8e;
}
.navbar-search input{
    width: 90%;
    font-size: 20px;
    padding: 2px;
    background-color:#dcdada;
    border: none;
}
.navbar-menu{
    width: 35%;
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-menu .login-btn{
    width: 15%;
    margin-right: 8%;
    background-color: #3897f0;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}
.navbar-menu .login-btn:hover{
    background-color: #56a5ef;
}
.navbar-menu .login-btn a{
    text-decoration: none;
    font-size: 18px;
    color: white;

}
.navbar-menu .signup-btn{
    width: 15%;
    background-color: white;
    padding: 7px;
    text-align: center;
}
.navbar-menu .signup-btn a{
    text-decoration: none;
    font-size: 18px;
    color: #56a5ef;
}
/*=================user navbar ===========*/
.sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 20px;
    border-right: 2px solid black;
    padding: 15px;
    list-style: none;
}

.sidebar .logo {
    font-size: 24px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: 200;
}
.siderbar-menu a i{
    padding: 10px;
    font-size: 18px;
    
}
.sidebar .siderbar-menu a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px;
}
.siderbar-menu a i img{
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50px;
    background-color: black;
}
.siderbar-menu-bottom{
    margin-top: 80px;
}
.siderbar-menu-bottom a{
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px;
}
.siderbar-menu-bottom a i{
    padding: 10px;
    font-size: 18px;
}
.sidebar a:hover {
    background-color: #7c7c7c;
    color: white;
    border-radius: 10px;
}

/*=================login================*/
.login-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.login-container {
    text-align: center;
}

.login-box {
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    width: 290px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

button {
    background-color: #3897f0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.or-divider span {
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
}

.or-divider span:nth-child(2) {
    border-bottom: none;
    margin: 0 10px;
    color: #8e8e8e;
}

.fb-login {
    background-color: white;
    color: #4267b2;
    font-size: 14px;
    padding: 12px;
    border: none;
    font-weight: bold;
    text-decoration: none;
}
.fb-login i{
    font-size: 20px;
    padding: 5px;
}

.forgot-p {
    color: #3897f0;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
}

.signup-box {
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    width: 290px;
    margin-bottom: 20px;
}
.signup-box p a{
    text-decoration: none;
    color: #3897f0;
    font-weight: 300;
}
.get-app {
    width: 290px;
}

.app-stores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-stores img {
    width: 136px;
    height: 40px;
}
/*===============signup============*/
.signup-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    margin: 0;
}
.signup-container{
    text-align: center;
}
.login-box{
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    width: 290px;
    margin-bottom: 20px;
}
.login-box p a{
    text-decoration: none;
    color: #3897f0;
    font-weight: 300;
}
.index{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.index .left{
    width: 18%;
    height: auto;
}
.index .right{
    width: 82%;
    height: auto;
}